body {
    background-color: rgb(173, 230, 187);
  }
  
  h1 {
    color: rgba(201, 59, 226, 0.628);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }